div{
	background:  lightgray;
}

p{
	background: black;
	color:  white;
	width: 400px;
}

span{
	background: yellow;
	  display: inline-Block;
		height: 40px
}
p span{
	display:inline;
	background: transparent;

}
a{
	background:  pink;
}
strong{
	color: red;
}

img{
	position:relative;
	transform: rotate(70deg);
}
